@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url("fonts/OpenSans-Light.ttf") format(truetype);
   }

 @font-face {
    font-family: "Open Sans";
    font-weight: 800;
    src: url("fonts/OpenSans-ExtraBold.ttf") format(truetype);
   }
@font-face {

    font-family: "Open Sans";
    font-weight: 700;
    src: url("fonts/OpenSans-Bold.ttf") format(truetype);
   }
@font-face {
 font-family: "Open Sans";
    font-weight: 400;
 src: url("fonts/OpenSans-Regular.ttf") format(truetype);
  }

@font-face {
 font-family: "Open Sans";
 src: url("fonts/OpenSans-SemiBold.ttf") format(truetype);
 font-weight: 600;
  }


body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html{
	font-family: 'OpenSans-Light', sans-serif;


}

.menu_link {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

.menu_list {
	padding-top: 50px;
}

.header	{
	background:80% 100px url(../img/back.png) no-repeat;
	padding-bottom: 50px;
}


.container {
	width: 1170px;
}

.logo {
	float: left;

}

.logo_text {
font-family: Open Sans,sans-serif;
font-size: 10pt;
font-weight: 600;
padding-left: 9px;
padding-top: 15px;
float: left;

}

.logo_f {
	float: left;
	padding-bottom: 20px;

}

.logo_text_f {
font-family: Open Sans,sans-serif;
font-size: 10pt;
font-weight: 600;
padding-left: 9px;
padding-top: 15px;
float: left;
color: white;
}


.logo_block {
	padding-top: 18px;
}

.H1 {
	font-family: Open Sans;
	font-size: 56px;
	float: left;
	font-weight: 800;
	line-height: 60px;
	padding-top: 25px;
}

.desc {
	float: left;
	font-size: 17px;
	font-family: Open Sans;
	font-weight: 300;
	padding-top: 15px;
	padding-bottom: 25px;
}

.call_but {
	background-color: #327e9d;
	font-family: Open Sans;
	font-weight: 300;
	font-size: 17px;
	border-radius: 24px;
	padding-left: 26px;
	padding-right: 26px;
	padding-top: 12px;
	padding-bottom:12px;
	text-decoration: none;
	color: white;

}

.h_block {
	margin-left: auto;
    margin-right: auto;
    width: 	200px;
}
.first_line {
	float: left;
	padding-top: 18px;
	padding-right: 15px;
	
}

.s_line {
	float: left;
	padding-top: 18px;
	padding-left: 15px;
}

 .h2_t {
	float: left;
	font-size: 22pt;
	color: white;
	padding-top: 3px;
	font-family: Open Sans;
	font-weight: 700;
	padding-bottom: 19px;
}


.about_s {
	background: center top url(../img/bg2.png) no-repeat;
	padding-top: 30px;
	padding-bottom: 70px;
}

.h3_t {
	float: left;
	width: 100%;
	font-size: 16pt;
	font-family: Open Sans,sans-serif;
	font-weight: 600;
	color: white;
	padding-bottom: 6px;
	text-transform: uppercase;
}

.about_text {
	float: left;
	font-size: 12.3pt;
	font-family: Open Sans,sans-serif;
	font-weight: 300;
	color: white;

}

.about_li {
	float: left;
	text-decoration: none;
	list-style-type: none;
}

.about_ul {
	width: 100%;

}

.mail_text {
	float: left;
}

.number {
	float: left;
}

.about_img {
	float: left;
}

.adres {
	float: left;
}

.adres_block {
	width: 100%;
}

.time {
	width: 100%;
	float: left;
}

.n_block {
	margin-left: auto;
    margin-right: auto;
    width: 	340px;
    padding-bottom: 60px;
    text-align: center;
}

.about_img {
	padding-top: 9px;
	padding-right: 10px;
}

.number {
	letter-spacing: 1.2px;
	color: white;
	font-size:  12.3pt;
	line-height: 23px;
	font-weight: 400;
	padding-right: 25px;
}

.mail_text {
	font-family: Open Sans, sans-serif;
	letter-spacing: 1.2px;
	color: white;
	font-size:  12.3pt;
	font-weight: 400;
	padding-right: 25px;
	padding-top: 8px;
}

.adres {
	font-family: Open Sans, sans-serif;
	letter-spacing: 1.2px;
	color: white;
	font-size:  12.3pt;
	font-weight: 400;
	padding-left: 8px;
	padding-top: 10px;
}

.time {
	font-family: Open Sans, sans-serif;
	color: white;
	font-size: 11pt;
	font-weight: 300;
	padding-top: 3px;
}

.h2_task {
	color: black;
}

.tasks {
	padding-top: 30px;
	padding-bottom: 20px;
}

.tasks_text {
	font-size: 12.3pt;
	font-family: Open Sans,sans-serif;
	font-weight: 300;



}

footer {
	background-color: #157172;
	padding-top: 15px;
}


#ddmenu {
  display: block;
  width: 100%;
  cursor: pointer;
  outline: none;
}

#ddmenu li { display: block; position: relative;}

#ddmenu li a {
  display: block;
  float: left;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;

}

#ddmenu ul {
  position: absolute;
  top: 35px;
  background: #fff;
  display: none;
  margin: 0;
  padding: 7px 0;
  list-style: none;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}





#ddmenu ul li { 
  display: block; 
  width: 100%; 
  font-size: 0.9em; 
}

#ddmenu ul li a {
  display: block;
  width: 100%;
  padding: 6px 7px;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

nav {
	float: left;
}

.menu_li {
	float: left;
	text-decoration: none;
	list-style-type: none;
	padding-right: 39px;
	font-family: Open Sans;
	font-weight: 300;
}

.menu_link:hover	{

	color:#327e9d;
	border-bottom: 1.5px solid;
	
	

}

.burger {
    display: none;
}







#myModal {
  width: 298px; height: 300px;
  margin: 0 auto;
  padding: 18px 9px;
  border-radius: 4px;
  background: #fafafa;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  display: none;
  opacity: 0;
  z-index: 38;
  text-align: center;
}
#myModal #myModal__close {
  width: 21px; height: 21px;
  position: absolute;
  top: 1px; right: 11px;
  cursor: pointer;
  display: block;
  font-size: 29px;
}
#myOverlay {
  z-index: 37;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  width: 100%; height: 100%;
  top: 0; left: 0;
  cursor :pointer;
  display :none;
}


.link_text {
	color: white;
	margin: 0px;

}

	
.referal {
	color: white;
	text-decoration: none;
	letter-spacing: 1.2px;
	font-family: Open Sans, sans-serif;
	outline: 0;
	padding-top: 10px;
	font-weight: 300;

}

.referal:hover {
	color: white;
}

.f_text {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	border-radius: 24px;
	margin-top: 20px;
}

.f_button {
	margin-top: 30px;
    border-radius: 24px;
    padding: 10px 20px;
}

.p_text {
	 font-family: 'Open Sans';
    color: black;
    font-weight: 500;
    font-size: 24px;
    margin: 0px;
}


.min_logo {
	display: none;
}


.call_but:hover {
	color: white;
}

.footer_links {
	float: right;
	padding-top: 15px;
}

.o_block {
	margin-left: auto;
    margin-right: auto;
    width: 377px;
    padding-bottom: 60px;
}

.o_text {
	padding-left: 55px;
	text-transform: uppercase;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	font-size: 11pt;
}

.O_text_exp {

	padding-top: 10px;
}


.o_img	{
	float: left;
	padding-top: 7px;
}

.page_block {
	padding-top: 10px;
}

.o_header {
	color: black;
	padding-top: 20px;
}

.task_text {
	
	font-family: Open sans, sans-serif;
	font-size: 12pt;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 26px;
	margin-bottom: 10px;
}

.o_download {
	background-color: white;
	font-family: Open Sans;
	font-weight: 300;
	font-size: 19px;
	border: 1px solid black;
	border-radius: 24px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom:12px;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	margin-top: 47px;
}

.download_t {
	line-height: 32px;
	margin-bottom: 27px;
}

.Objectives {
	background: 80% bottom url(../img/back_o.png) no-repeat;
	padding-bottom: 40px;
}

.help {
	display: none;
}

.d_block {
	width: 579px;
}

.d_text {
	padding-top: 20px;
	font-family: Open Sans, sans-serif;
	font-size: 22pt;
	font-weight: 400;
	text-transform: uppercase;
	padding-left: 65px;
	line-height: 38px;
	padding-top: 5px;
}

.page {
	float: left;
	padding-top: 10px;
}

.d_but {
	padding-top: 20px;
}

.download_block {
	padding-bottom: 20px;
}


.d_desc {
	font-family: Open Sans, sans-serif;
	font-size: 11.7pt;
	font-weight: 300;
	padding-left: 65px;
	line-height: 28px;
	
}

.desc_text {

	font-family: Open Sans, sans-serif;
	font-size: 16pt;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 65px;
	line-height: 38px;
	padding-top: 5px;
	margin: 0px;
}

.help_s {
	display: none;
}

.desk_but {
	padding-top: 65px;
}

.spec_line {
	padding-top: 35px;
}
.d_h2 {
	font-size: 17pt;
}


.doc_line {
	padding-top: 25px;
}


.e_block {
	text-align: center;
	    width: 619px;
	    margin-left: auto;
    margin-right: auto;
}

.m_block {
	text-align: center;
	width: 252px;
	    margin-left: auto;
    margin-right: auto;
}

.doc_block {
	text-align: center;
	width: 520px;
	margin-left: auto;
    margin-right: auto;	
}


.a_block {
	text-align: center;
	width: 217px;
	margin-left: auto;
    margin-right: auto;	
}

.t_block {
	text-align: center;
	width: 317px;
	margin-left: auto;
    margin-right: auto;	
}

